job "rti-perftest-pub" {
  type = "service"

  datacenters = ["dc-1", "dc-2"]

  group "pub" {
    count = 1

    restart {
      attempts = 5
      interval = "30s"
      delay = "5s"
      mode = "delay"
    }

    reschedule {
      delay          = "15s"
      delay_function = "exponential"
      max_delay      = "60m"
      unlimited      = true
    }

    task "pub" {
      driver = "docker"

      config {
        image = "guther/rti-perftest"
        args = [
          "-pub",
          "-enableTurboMode",
          "-dataLen",
          "1024",
          "-sleep",
          "1",
        ]
        network_mode = "weave"
      }

      resources {
        cpu    = 500
        memory = 500
        network {
          mbits = 1000
        }
      }
    }
  }
}
